In [1]:
import pandas as pd
import os
import numpy as np
from sklearn.preprocessing import StandardScaler

X_trainall=pd.read_csv('C:/Users\lenovo\AnacondaProjects\learning-to-rank-master\experiments/sample.txt',sep=','
                    ,header=None,names=['profile','tweet_id','JM','Diri','BM25','Class'])
scaler = StandardScaler()
X_trainall['JM'] = scaler.fit_transform(X_trainall[['JM']])
X_trainall['Diri'] = scaler.fit_transform(X_trainall[['Diri']])
X_trainall['BM25'] = scaler.fit_transform(X_trainall[['BM25']])       
X_trainall.head()

#X_trainall['Class']=np.where(X_trainall['Class'] ==2,1, X_trainall['Class'])
X_trainall.head()

  profile            tweet_id        JM      Diri      BM25  Class
0   MB226  760276886505213952  1.362799  1.849035  1.928996      0
1   MB226  760539173120012288  1.210028  1.844419  1.224847      0
2   MB226  760553618311352320  0.853564  1.313519  0.499782      0
3   MB226  760318766651629568  0.161004 -0.505391 -0.236902      0
4   MB226  760595464861331457  0.016721  0.948813  0.918089      0

In [2]:
print(X_trainall['Class'].value_counts())
X_train0=X_trainall[X_trainall['Class']==0]
X_train1=X_trainall[X_trainall['Class']> 0]
X_train0.info()
X_train1.info()
X_train0=X_train0.sample(3029)
X_train0.info()
X_trainws=pd.concat([X_train0,X_train1])
X_train = X_trainws.reindex(np.random.permutation(X_trainws.index))

0    34799
1     2190
2      839
Name: Class, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 34799 entries, 0 to 37827
Data columns (total 6 columns):
profile     34799 non-null object
tweet_id    34799 non-null int64
JM          34799 non-null float64
Diri        34799 non-null float64
BM25        34799 non-null float64
Class       34799 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 1.9+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3029 entries, 156 to 37705
Data columns (total 6 columns):
profile     3029 non-null object
tweet_id    3029 non-null int64
JM          3029 non-null float64
Diri        3029 non-null float64
BM25        3029 non-null float64
Class       3029 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 165.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3029 entries, 2804 to 9205
Data columns (total 6 columns):
profile     3029 non-null object
tweet_id    3029 non-null int64
JM          3029 non-null float64
Diri        3029 non-null float64
BM25        3029 non-null float64
Class       3029 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 165.6+ KB

In [3]:
X_train.head()

      profile            tweet_id        JM      Diri      BM25  Class
6011    MB267  762569061045833728  1.179474  1.715156  1.220199      2
21835   MB440  762733289048244224  1.391655  2.278372  1.468859      0
6153    MB267  763369913096478722 -0.540043 -0.043739 -0.511125      1
14914   MB382  761692883531497472 -0.596059 -0.389978  0.018730      0
13871   MB377  762428073711067136 -0.346534  0.473312 -0.318239      0

In [17]:
fout=open('pwtrain1.txt','w')
ip=['MB226','MB229','MB230','MB239','MB254','MB256','MB258','MB265','MB267','MB276','MB286','MB319','MB320','MB332','MB351','MB358','MB361','MB362','MB363','MB365','MB371','MB377','MB381','MB382','MB391','MB392','MB409','MB410','MB414','MB419','MB420','MB425','MB431','MB436','MB438','MB440','RTS1','RTS10','RTS13','RTS14','RTS19','RTS2','RTS21','RTS24','RTS25','RTS27','RTS28','RTS31','RTS32','RTS35','RTS36','RTS37','RTS4','RTS43','RTS5','RTS6']
count=1

for i,p in enumerate(ip):
    x=X_train[X_train['profile'] == p]
    x.info()
    fout.write('# query '+ str(count) +'\n')
    for a,row in x.iterrows():
        instr = str(row[5]) + ' ' + 'qid:'+ str(count) + ' ' + '1:'+str(round(row[2],2))+' '+ '2:'+ str(round(row[3],2))+ ' ' +'3:'+str(round(row[4],2))+ ' \n'
        fout.write(instr)
    count=count+1

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38 entries, 14 to 373
Data columns (total 6 columns):
profile     38 non-null object
tweet_id    38 non-null int64
JM          38 non-null float64
Diri        38 non-null float64
BM25        38 non-null float64
Class       38 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 2.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 617 to 1032
Data columns (total 6 columns):
profile     195 non-null object
tweet_id    195 non-null int64
JM          195 non-null float64
Diri        195 non-null float64
BM25        195 non-null float64
Class       195 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 10.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 57 entries, 1706 to 1751
Data columns (total 6 columns):
profile     57 non-null object
tweet_id    57 non-null int64
JM          57 non-null float64
Diri        57 non-null float64
BM25        57 non-null float64
Class       57 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 3.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 55 entries, 1995 to 2190
Data columns (total 6 columns):
profile     55 non-null object
tweet_id    55 non-null int64
JM          55 non-null float64
Diri        55 non-null float64
BM25        55 non-null float64
Class       55 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 3.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 58 entries, 2534 to 2732
Data columns (total 6 columns):
profile     58 non-null object
tweet_id    58 non-null int64
JM          58 non-null float64
Diri        58 non-null float64
BM25        58 non-null float64
Class       58 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 3.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 122 entries, 4125 to 4002
Data columns (total 6 columns):
profile     122 non-null object
tweet_id    122 non-null int64
JM          122 non-null float64
Diri        122 non-null float64
BM25        122 non-null float64
Class       122 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 6.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 93 entries, 4778 to 4423
Data columns (total 6 columns):
profile     93 non-null object
tweet_id    93 non-null int64
JM          93 non-null float64
Diri        93 non-null float64
BM25        93 non-null float64
Class       93 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 5.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 55 entries, 5585 to 5512
Data columns (total 6 columns):
profile     55 non-null object
tweet_id    55 non-null int64
JM          55 non-null float64
Diri        55 non-null float64
BM25        55 non-null float64
Class       55 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 3.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 242 entries, 5763 to 5687
Data columns (total 6 columns):
profile     242 non-null object
tweet_id    242 non-null int64
JM          242 non-null float64
Diri        242 non-null float64
BM25        242 non-null float64
Class       242 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 13.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 76 entries, 6640 to 6567
Data columns (total 6 columns):
profile     76 non-null object
tweet_id    76 non-null int64
JM          76 non-null float64
Diri        76 non-null float64
BM25        76 non-null float64
Class       76 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 4.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 93 entries, 7279 to 7243
Data columns (total 6 columns):
profile     93 non-null object
tweet_id    93 non-null int64
JM          93 non-null float64
Diri        93 non-null float64
BM25        93 non-null float64
Class       93 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 5.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 63 entries, 7773 to 8039
Data columns (total 6 columns):
profile     63 non-null object
tweet_id    63 non-null int64
JM          63 non-null float64
Diri        63 non-null float64
BM25        63 non-null float64
Class       63 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 3.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 58 entries, 8396 to 8292
Data columns (total 6 columns):
profile     58 non-null object
tweet_id    58 non-null int64
JM          58 non-null float64
Diri        58 non-null float64
BM25        58 non-null float64
Class       58 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 3.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 95 entries, 9158 to 9340
Data columns (total 6 columns):
profile     95 non-null object
tweet_id    95 non-null int64
JM          95 non-null float64
Diri        95 non-null float64
BM25        95 non-null float64
Class       95 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 5.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 9449 to 9548
Data columns (total 6 columns):
profile     30 non-null object
tweet_id    30 non-null int64
JM          30 non-null float64
Diri        30 non-null float64
BM25        30 non-null float64
Class       30 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 1.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 59 entries, 10213 to 9911
Data columns (total 6 columns):
profile     59 non-null object
tweet_id    59 non-null int64
JM          59 non-null float64
Diri        59 non-null float64
BM25        59 non-null float64
Class       59 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 3.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 66 entries, 10704 to 10605
Data columns (total 6 columns):
profile     66 non-null object
tweet_id    66 non-null int64
JM          66 non-null float64
Diri        66 non-null float64
BM25        66 non-null float64
Class       66 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 3.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 11111 to 11141
Data columns (total 6 columns):
profile     50 non-null object
tweet_id    50 non-null int64
JM          50 non-null float64
Diri        50 non-null float64
BM25        50 non-null float64
Class       50 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 2.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 136 entries, 11500 to 11377
Data columns (total 6 columns):
profile     136 non-null object
tweet_id    136 non-null int64
JM          136 non-null float64
Diri        136 non-null float64
BM25        136 non-null float64
Class       136 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 7.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 12419 to 12538
Data columns (total 6 columns):
profile     48 non-null object
tweet_id    48 non-null int64
JM          48 non-null float64
Diri        48 non-null float64
BM25        48 non-null float64
Class       48 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 2.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 341 entries, 13382 to 13446
Data columns (total 6 columns):
profile     341 non-null object
tweet_id    341 non-null int64
JM          341 non-null float64
Diri        341 non-null float64
BM25        341 non-null float64
Class       341 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 18.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 101 entries, 13910 to 13585
Data columns (total 6 columns):
profile     101 non-null object
tweet_id    101 non-null int64
JM          101 non-null float64
Diri        101 non-null float64
BM25        101 non-null float64
Class       101 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 5.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 67 entries, 14087 to 14135
Data columns (total 6 columns):
profile     67 non-null object
tweet_id    67 non-null int64
JM          67 non-null float64
Diri        67 non-null float64
BM25        67 non-null float64
Class       67 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 3.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 64 entries, 14934 to 14935
Data columns (total 6 columns):
profile     64 non-null object
tweet_id    64 non-null int64
JM          64 non-null float64
Diri        64 non-null float64
BM25        64 non-null float64
Class       64 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 3.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 116 entries, 15418 to 15688
Data columns (total 6 columns):
profile     116 non-null object
tweet_id    116 non-null int64
JM          116 non-null float64
Diri        116 non-null float64
BM25        116 non-null float64
Class       116 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 6.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 102 entries, 16273 to 16070
Data columns (total 6 columns):
profile     102 non-null object
tweet_id    102 non-null int64
JM          102 non-null float64
Diri        102 non-null float64
BM25        102 non-null float64
Class       102 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 5.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 74 entries, 16559 to 16557
Data columns (total 6 columns):
profile     74 non-null object
tweet_id    74 non-null int64
JM          74 non-null float64
Diri        74 non-null float64
BM25        74 non-null float64
Class       74 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 4.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 17240 to 16874
Data columns (total 6 columns):
profile     52 non-null object
tweet_id    52 non-null int64
JM          52 non-null float64
Diri        52 non-null float64
BM25        52 non-null float64
Class       52 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 2.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 146 entries, 17799 to 17888
Data columns (total 6 columns):
profile     146 non-null object
tweet_id    146 non-null int64
JM          146 non-null float64
Diri        146 non-null float64
BM25        146 non-null float64
Class       146 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 8.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41 entries, 18484 to 18408
Data columns (total 6 columns):
profile     41 non-null object
tweet_id    41 non-null int64
JM          41 non-null float64
Diri        41 non-null float64
BM25        41 non-null float64
Class       41 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 2.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 123 entries, 19182 to 19337
Data columns (total 6 columns):
profile     123 non-null object
tweet_id    123 non-null int64
JM          123 non-null float64
Diri        123 non-null float64
BM25        123 non-null float64
Class       123 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 6.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 37 entries, 19582 to 19626
Data columns (total 6 columns):
profile     37 non-null object
tweet_id    37 non-null int64
JM          37 non-null float64
Diri        37 non-null float64
BM25        37 non-null float64
Class       37 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 2.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 43 entries, 20220 to 19819
Data columns (total 6 columns):
profile     43 non-null object
tweet_id    43 non-null int64
JM          43 non-null float64
Diri        43 non-null float64
BM25        43 non-null float64
Class       43 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 2.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 75 entries, 20307 to 20306
Data columns (total 6 columns):
profile     75 non-null object
tweet_id    75 non-null int64
JM          75 non-null float64
Diri        75 non-null float64
BM25        75 non-null float64
Class       75 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 4.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 21046 to 20731
Data columns (total 6 columns):
profile     51 non-null object
tweet_id    51 non-null int64
JM          51 non-null float64
Diri        51 non-null float64
BM25        51 non-null float64
Class       51 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 2.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 226 entries, 21870 to 21886
Data columns (total 6 columns):
profile     226 non-null object
tweet_id    226 non-null int64
JM          226 non-null float64
Diri        226 non-null float64
BM25        226 non-null float64
Class       226 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 12.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 268 entries, 22305 to 22301
Data columns (total 6 columns):
profile     268 non-null object
tweet_id    268 non-null int64
JM          268 non-null float64
Diri        268 non-null float64
BM25        268 non-null float64
Class       268 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 14.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 367 entries, 22981 to 22556
Data columns (total 6 columns):
profile     367 non-null object
tweet_id    367 non-null int64
JM          367 non-null float64
Diri        367 non-null float64
BM25        367 non-null float64
Class       367 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 20.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 211 entries, 23350 to 23377
Data columns (total 6 columns):
profile     211 non-null object
tweet_id    211 non-null int64
JM          211 non-null float64
Diri        211 non-null float64
BM25        211 non-null float64
Class       211 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 11.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 24179 to 24258
Data columns (total 6 columns):
profile     40 non-null object
tweet_id    40 non-null int64
JM          40 non-null float64
Diri        40 non-null float64
BM25        40 non-null float64
Class       40 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 2.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 74 entries, 24848 to 24826
Data columns (total 6 columns):
profile     74 non-null object
tweet_id    74 non-null int64
JM          74 non-null float64
Diri        74 non-null float64
BM25        74 non-null float64
Class       74 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 4.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 68 entries, 25461 to 25738
Data columns (total 6 columns):
profile     68 non-null object
tweet_id    68 non-null int64
JM          68 non-null float64
Diri        68 non-null float64
BM25        68 non-null float64
Class       68 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 3.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 44 entries, 26231 to 26100
Data columns (total 6 columns):
profile     44 non-null object
tweet_id    44 non-null int64
JM          44 non-null float64
Diri        44 non-null float64
BM25        44 non-null float64
Class       44 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 2.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 75 entries, 26512 to 26678
Data columns (total 6 columns):
profile     75 non-null object
tweet_id    75 non-null int64
JM          75 non-null float64
Diri        75 non-null float64
BM25        75 non-null float64
Class       75 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 4.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 185 entries, 27705 to 27667
Data columns (total 6 columns):
profile     185 non-null object
tweet_id    185 non-null int64
JM          185 non-null float64
Diri        185 non-null float64
BM25        185 non-null float64
Class       185 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 10.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 113 entries, 28980 to 28462
Data columns (total 6 columns):
profile     113 non-null object
tweet_id    113 non-null int64
JM          113 non-null float64
Diri        113 non-null float64
BM25        113 non-null float64
Class       113 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 6.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 47 entries, 29148 to 29326
Data columns (total 6 columns):
profile     47 non-null object
tweet_id    47 non-null int64
JM          47 non-null float64
Diri        47 non-null float64
BM25        47 non-null float64
Class       47 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 2.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 143 entries, 29687 to 30163
Data columns (total 6 columns):
profile     143 non-null object
tweet_id    143 non-null int64
JM          143 non-null float64
Diri        143 non-null float64
BM25        143 non-null float64
Class       143 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 7.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 149 entries, 31098 to 30985
Data columns (total 6 columns):
profile     149 non-null object
tweet_id    149 non-null int64
JM          149 non-null float64
Diri        149 non-null float64
BM25        149 non-null float64
Class       149 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 8.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 79 entries, 31824 to 31865
Data columns (total 6 columns):
profile     79 non-null object
tweet_id    79 non-null int64
JM          79 non-null float64
Diri        79 non-null float64
BM25        79 non-null float64
Class       79 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 4.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 88 entries, 32663 to 32815
Data columns (total 6 columns):
profile     88 non-null object
tweet_id    88 non-null int64
JM          88 non-null float64
Diri        88 non-null float64
BM25        88 non-null float64
Class       88 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 4.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 56 entries, 33147 to 33259
Data columns (total 6 columns):
profile     56 non-null object
tweet_id    56 non-null int64
JM          56 non-null float64
Diri        56 non-null float64
BM25        56 non-null float64
Class       56 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 3.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 33941 to 34174
Data columns (total 6 columns):
profile     120 non-null object
tweet_id    120 non-null int64
JM          120 non-null float64
Diri        120 non-null float64
BM25        120 non-null float64
Class       120 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 6.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 267 entries, 34437 to 34507
Data columns (total 6 columns):
profile     267 non-null object
tweet_id    267 non-null int64
JM          267 non-null float64
Diri        267 non-null float64
BM25        267 non-null float64
Class       267 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 14.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 36292 to 36176
Data columns (total 6 columns):
profile     156 non-null object
tweet_id    156 non-null int64
JM          156 non-null float64
Diri        156 non-null float64
BM25        156 non-null float64
Class       156 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 8.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 160 entries, 37217 to 37605
Data columns (total 6 columns):
profile     160 non-null object
tweet_id    160 non-null int64

In [18]:
fout.close()

In [2]:

X_test=pd.read_csv('C:/Users\lenovo\AnacondaProjects\learning-to-rank-master\experiments/gtest.txt',sep=','
                    ,header=None,names=['profile','tweet_id','JM','Diri','BM25','Class'])
X_test.head()

scaler = StandardScaler()
X_test['JM'] = scaler.fit_transform(X_test[['JM']])
X_test['Diri'] = scaler.fit_transform(X_test[['Diri']])
X_test['BM25'] = scaler.fit_transform(X_test[['BM25']])       


#X_trainall['Class']=np.where(X_trainall['Class'] ==2,1, X_trainall['Class'])
X_test['Class']=np.where(X_test['Class'] ==-2,0, X_test['Class'])
#X_test['Class']=np.where(X_test['Class'] ==2,1, X_test['Class'])
ip2017=[]
with open('F:/TREC2017/Analysis/tid95-2.txt','r') as fin:
    line= fin.readlines()
    for l in line:
        l=l.strip().split(' ')
        #tpn=l[0]
        tpid=l[1]
        ip2017.append(tpid)      
#print len(ip2017)
#ip2017.remove('RTS63')
#ip2017.remove('RTS164')
#ip2017.remove('RTS182')
X_test.head()

  profile            tweet_id        JM      Diri      BM25  Class
0   RTS47  891302728198230020  3.050570  2.407051  3.571360      1
1   RTS47  891348035069935616  2.778155  1.815867  2.271354      2
2   RTS47  891359347099320320  2.778155  1.815867  2.271354      2
3   RTS47  891391584524279809  2.778155  1.815867  2.271354      2
4   RTS47  891299170077769728  2.621369  1.806629  1.665027      2

In [20]:
fout=open('pwtest1.txt','w')
count=1
for i,p in enumerate(ip2017):
    
    x=X_test[X_test['profile'] == p]
    x.info()
    #fout.write('# query '+p +'\n')
    for a,row in x.iterrows():
        instr = str(row[5]) + ' ' + 'qid:'+str(count) + ' ' + '1:'+str(round(row[2],2))+' '+ '2:'+ str(round(row[3],2))+ ' ' +'3:'+str(round(row[4],2))+ ' \n'
        fout.write(instr)
        count+1
fout.close()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 589 entries, 0 to 588
Data columns (total 6 columns):
profile     589 non-null object
tweet_id    589 non-null int64
JM          589 non-null float64
Diri        589 non-null float64
BM25        589 non-null float64
Class       589 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 32.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 478 entries, 589 to 1066
Data columns (total 6 columns):
profile     478 non-null object
tweet_id    478 non-null int64
JM          478 non-null float64
Diri        478 non-null float64
BM25        478 non-null float64
Class       478 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 26.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 1067 to 1186
Data columns (total 6 columns):
profile     120 non-null object
tweet_id    120 non-null int64
JM          120 non-null float64
Diri        120 non-null float64
BM25        120 non-null float64
Class       120 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 6.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 566 entries, 1187 to 1752
Data columns (total 6 columns):
profile     566 non-null object
tweet_id    566 non-null int64
JM          566 non-null float64
Diri        566 non-null float64
BM25        566 non-null float64
Class       566 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 31.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 970 entries, 1753 to 2722
Data columns (total 6 columns):
profile     970 non-null object
tweet_id    970 non-null int64
JM          970 non-null float64
Diri        970 non-null float64
BM25        970 non-null float64
Class       970 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 53.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 539 entries, 2723 to 3261
Data columns (total 6 columns):
profile     539 non-null object
tweet_id    539 non-null int64
JM          539 non-null float64
Diri        539 non-null float64
BM25        539 non-null float64
Class       539 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 29.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 638 entries, 3262 to 3899
Data columns (total 6 columns):
profile     638 non-null object
tweet_id    638 non-null int64
JM          638 non-null float64
Diri        638 non-null float64
BM25        638 non-null float64
Class       638 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 34.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 663 entries, 3900 to 4562
Data columns (total 6 columns):
profile     663 non-null object
tweet_id    663 non-null int64
JM          663 non-null float64
Diri        663 non-null float64
BM25        663 non-null float64
Class       663 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 36.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 497 entries, 4563 to 5059
Data columns (total 6 columns):
profile     497 non-null object
tweet_id    497 non-null int64
JM          497 non-null float64
Diri        497 non-null float64
BM25        497 non-null float64
Class       497 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 27.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 417 entries, 5060 to 5476
Data columns (total 6 columns):
profile     417 non-null object
tweet_id    417 non-null int64
JM          417 non-null float64
Diri        417 non-null float64
BM25        417 non-null float64
Class       417 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 22.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 339 entries, 5477 to 5815
Data columns (total 6 columns):
profile     339 non-null object
tweet_id    339 non-null int64
JM          339 non-null float64
Diri        339 non-null float64
BM25        339 non-null float64
Class       339 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 18.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 913 entries, 5816 to 6728
Data columns (total 6 columns):
profile     913 non-null object
tweet_id    913 non-null int64
JM          913 non-null float64
Diri        913 non-null float64
BM25        913 non-null float64
Class       913 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 49.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 602 entries, 6729 to 7330
Data columns (total 6 columns):
profile     602 non-null object
tweet_id    602 non-null int64
JM          602 non-null float64
Diri        602 non-null float64
BM25        602 non-null float64
Class       602 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 32.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 757 entries, 7331 to 8087
Data columns (total 6 columns):
profile     757 non-null object
tweet_id    757 non-null int64
JM          757 non-null float64
Diri        757 non-null float64
BM25        757 non-null float64
Class       757 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 41.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 666 entries, 8088 to 8753
Data columns (total 6 columns):
profile     666 non-null object
tweet_id    666 non-null int64
JM          666 non-null float64
Diri        666 non-null float64
BM25        666 non-null float64
Class       666 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 36.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 699 entries, 8754 to 9452
Data columns (total 6 columns):
profile     699 non-null object
tweet_id    699 non-null int64
JM          699 non-null float64
Diri        699 non-null float64
BM25        699 non-null float64
Class       699 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 38.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 274 entries, 9453 to 9726
Data columns (total 6 columns):
profile     274 non-null object
tweet_id    274 non-null int64
JM          274 non-null float64
Diri        274 non-null float64
BM25        274 non-null float64
Class       274 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 15.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 9727 to 10568
Data columns (total 6 columns):
profile     842 non-null object
tweet_id    842 non-null int64
JM          842 non-null float64
Diri        842 non-null float64
BM25        842 non-null float64
Class       842 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 46.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 237 entries, 10569 to 10805
Data columns (total 6 columns):
profile     237 non-null object
tweet_id    237 non-null int64
JM          237 non-null float64
Diri        237 non-null float64
BM25        237 non-null float64
Class       237 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 13.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 159 entries, 10806 to 10964
Data columns (total 6 columns):
profile     159 non-null object
tweet_id    159 non-null int64
JM          159 non-null float64
Diri        159 non-null float64
BM25        159 non-null float64
Class       159 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 8.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1085 entries, 10965 to 12049
Data columns (total 6 columns):
profile     1085 non-null object
tweet_id    1085 non-null int64
JM          1085 non-null float64
Diri        1085 non-null float64
BM25        1085 non-null float64
Class       1085 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 59.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 696 entries, 12050 to 12745
Data columns (total 6 columns):
profile     696 non-null object
tweet_id    696 non-null int64
JM          696 non-null float64
Diri        696 non-null float64
BM25        696 non-null float64
Class       696 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 38.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1071 entries, 12746 to 13816
Data columns (total 6 columns):
profile     1071 non-null object
tweet_id    1071 non-null int64
JM          1071 non-null float64
Diri        1071 non-null float64
BM25        1071 non-null float64
Class       1071 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 58.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 831 entries, 13817 to 14647
Data columns (total 6 columns):
profile     831 non-null object
tweet_id    831 non-null int64
JM          831 non-null float64
Diri        831 non-null float64
BM25        831 non-null float64
Class       831 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 45.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 772 entries, 14648 to 15419
Data columns (total 6 columns):
profile     772 non-null object
tweet_id    772 non-null int64
JM          772 non-null float64
Diri        772 non-null float64
BM25        772 non-null float64
Class       772 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 42.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 471 entries, 15420 to 15890
Data columns (total 6 columns):
profile     471 non-null object
tweet_id    471 non-null int64
JM          471 non-null float64
Diri        471 non-null float64
BM25        471 non-null float64
Class       471 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 25.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 693 entries, 15891 to 16583
Data columns (total 6 columns):
profile     693 non-null object
tweet_id    693 non-null int64
JM          693 non-null float64
Diri        693 non-null float64
BM25        693 non-null float64
Class       693 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 37.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 793 entries, 16584 to 17376
Data columns (total 6 columns):
profile     793 non-null object
tweet_id    793 non-null int64
JM          793 non-null float64
Diri        793 non-null float64
BM25        793 non-null float64
Class       793 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 43.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 415 entries, 17377 to 17791
Data columns (total 6 columns):
profile     415 non-null object
tweet_id    415 non-null int64
JM          415 non-null float64
Diri        415 non-null float64
BM25        415 non-null float64
Class       415 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 22.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 747 entries, 17792 to 18538
Data columns (total 6 columns):
profile     747 non-null object
tweet_id    747 non-null int64
JM          747 non-null float64
Diri        747 non-null float64
BM25        747 non-null float64
Class       747 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 40.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 362 entries, 18539 to 18900
Data columns (total 6 columns):
profile     362 non-null object
tweet_id    362 non-null int64
JM          362 non-null float64
Diri        362 non-null float64
BM25        362 non-null float64
Class       362 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 19.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 818 entries, 18901 to 19718
Data columns (total 6 columns):
profile     818 non-null object
tweet_id    818 non-null int64
JM          818 non-null float64
Diri        818 non-null float64
BM25        818 non-null float64
Class       818 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 44.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 721 entries, 19719 to 20439
Data columns (total 6 columns):
profile     721 non-null object
tweet_id    721 non-null int64
JM          721 non-null float64
Diri        721 non-null float64
BM25        721 non-null float64
Class       721 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 39.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 377 entries, 20440 to 20816
Data columns (total 6 columns):
profile     377 non-null object
tweet_id    377 non-null int64
JM          377 non-null float64
Diri        377 non-null float64
BM25        377 non-null float64
Class       377 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 20.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 844 entries, 20817 to 21660
Data columns (total 6 columns):
profile     844 non-null object
tweet_id    844 non-null int64
JM          844 non-null float64
Diri        844 non-null float64
BM25        844 non-null float64
Class       844 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 46.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 586 entries, 21661 to 22246
Data columns (total 6 columns):
profile     586 non-null object
tweet_id    586 non-null int64
JM          586 non-null float64
Diri        586 non-null float64
BM25        586 non-null float64
Class       586 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 32.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 449 entries, 22247 to 22695
Data columns (total 6 columns):
profile     449 non-null object
tweet_id    449 non-null int64
JM          449 non-null float64
Diri        449 non-null float64
BM25        449 non-null float64
Class       449 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 24.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 499 entries, 22696 to 23194
Data columns (total 6 columns):
profile     499 non-null object
tweet_id    499 non-null int64
JM          499 non-null float64
Diri        499 non-null float64
BM25        499 non-null float64
Class       499 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 27.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 872 entries, 23195 to 24066
Data columns (total 6 columns):
profile     872 non-null object
tweet_id    872 non-null int64
JM          872 non-null float64
Diri        872 non-null float64
BM25        872 non-null float64
Class       872 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 47.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 592 entries, 24067 to 24658
Data columns (total 6 columns):
profile     592 non-null object
tweet_id    592 non-null int64
JM          592 non-null float64
Diri        592 non-null float64
BM25        592 non-null float64
Class       592 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 32.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 735 entries, 24659 to 25393
Data columns (total 6 columns):
profile     735 non-null object
tweet_id    735 non-null int64
JM          735 non-null float64
Diri        735 non-null float64
BM25        735 non-null float64
Class       735 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 40.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 651 entries, 25394 to 26044
Data columns (total 6 columns):
profile     651 non-null object
tweet_id    651 non-null int64
JM          651 non-null float64
Diri        651 non-null float64
BM25        651 non-null float64
Class       651 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 35.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 649 entries, 26045 to 26693
Data columns (total 6 columns):
profile     649 non-null object
tweet_id    649 non-null int64
JM          649 non-null float64
Diri        649 non-null float64
BM25        649 non-null float64
Class       649 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 35.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 668 entries, 26694 to 27361
Data columns (total 6 columns):
profile     668 non-null object
tweet_id    668 non-null int64
JM          668 non-null float64
Diri        668 non-null float64
BM25        668 non-null float64
Class       668 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 36.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 870 entries, 27362 to 28231
Data columns (total 6 columns):
profile     870 non-null object
tweet_id    870 non-null int64
JM          870 non-null float64
Diri        870 non-null float64
BM25        870 non-null float64
Class       870 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 47.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 550 entries, 28232 to 28781
Data columns (total 6 columns):
profile     550 non-null object
tweet_id    550 non-null int64
JM          550 non-null float64
Diri        550 non-null float64
BM25        550 non-null float64
Class       550 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 30.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 107 entries, 28782 to 28888
Data columns (total 6 columns):
profile     107 non-null object
tweet_id    107 non-null int64
JM          107 non-null float64
Diri        107 non-null float64
BM25        107 non-null float64
Class       107 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 5.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 546 entries, 28889 to 29434
Data columns (total 6 columns):
profile     546 non-null object
tweet_id    546 non-null int64
JM          546 non-null float64
Diri        546 non-null float64
BM25        546 non-null float64
Class       546 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 29.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 670 entries, 29435 to 30104
Data columns (total 6 columns):
profile     670 non-null object
tweet_id    670 non-null int64
JM          670 non-null float64
Diri        670 non-null float64
BM25        670 non-null float64
Class       670 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 36.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 467 entries, 30105 to 30571
Data columns (total 6 columns):
profile     467 non-null object
tweet_id    467 non-null int64
JM          467 non-null float64
Diri        467 non-null float64
BM25        467 non-null float64
Class       467 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 25.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 141 entries, 30572 to 30712
Data columns (total 6 columns):
profile     141 non-null object
tweet_id    141 non-null int64
JM          141 non-null float64
Diri        141 non-null float64
BM25        141 non-null float64
Class       141 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 7.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 710 entries, 30713 to 31422
Data columns (total 6 columns):
profile     710 non-null object
tweet_id    710 non-null int64
JM          710 non-null float64
Diri        710 non-null float64
BM25        710 non-null float64
Class       710 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 38.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1060 entries, 31423 to 32482
Data columns (total 6 columns):
profile     1060 non-null object
tweet_id    1060 non-null int64
JM          1060 non-null float64
Diri        1060 non-null float64
BM25        1060 non-null float64
Class       1060 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 58.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 575 entries, 32483 to 33057
Data columns (total 6 columns):
profile     575 non-null object
tweet_id    575 non-null int64
JM          575 non-null float64
Diri        575 non-null float64
BM25        575 non-null float64
Class       575 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 31.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 759 entries, 33058 to 33816
Data columns (total 6 columns):
profile     759 non-null object
tweet_id    759 non-null int64
JM          759 non-null float64
Diri        759 non-null float64

In [9]:
fout.close()

In [5]:
#p_df= pd.read_csv('D:/LR/trec2017/predictions',header=None,sep=' ')
#p_df.columns=['prediction']
#p_df.head()

   prediction
0    1.808822
1    1.597677
2    1.597677
3    1.597677
4    1.586525

In [3]:
X_test.head()

  profile            tweet_id        JM      Diri      BM25  Class
0   RTS47  891302728198230020  3.050570  2.407051  3.571360      1
1   RTS47  891348035069935616  2.778155  1.815867  2.271354      2
2   RTS47  891359347099320320  2.778155  1.815867  2.271354      2
3   RTS47  891391584524279809  2.778155  1.815867  2.271354      2
4   RTS47  891299170077769728  2.621369  1.806629  1.665027      2

In [7]:
X_testr = pd.concat([X_test.reset_index(drop=True), p_df], axis=1)
X_testr.head()

  profile            tweet_id        JM      Diri      BM25  Class  prediction
0   RTS47  891302728198230020  3.050570  2.407051  3.571360      1    1.808822
1   RTS47  891348035069935616  2.778155  1.815867  2.271354      2    1.597677
2   RTS47  891359347099320320  2.778155  1.815867  2.271354      2    1.597677
3   RTS47  891391584524279809  2.778155  1.815867  2.271354      2    1.597677
4   RTS47  891299170077769728  2.621369  1.806629  1.665027      2    1.586525

In [4]:
run_df=pd.read_csv('D:/datas/2017output/result/est-res2017/diri_linreg_est_20170.1 23.0_6.0.txt',sep=' '
                    ,header=None,names=['date','profile','q0','tweet_id','rank','score','tag'])
run_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13018 entries, 0 to 13017
Data columns (total 7 columns):
date        13018 non-null int64
profile     13018 non-null object
q0          13018 non-null object
tweet_id    13018 non-null int64
rank        13018 non-null int64
score       13018 non-null float64
tag         13018 non-null object
dtypes: float64(1), int64(3), object(3)
memory usage: 712.0+ KB

In [14]:
ip2017=[]
with open('F:/TREC2017/Analysis/tid95-2.txt','r') as fin:
    line= fin.readlines()
    for l in line:
        l=l.strip().split(' ')
        #tpn=l[0]
        tpid=l[1]
        ip2017.append(tpid)  
#ip2017.remove('RTS63')
#ip2017.remove('RTS164')
#ip2017.remove('RTS182')

In [6]:
path2017='F:/TREC2017/Analysis/Ranklist/'
jpath2017='F:/TREC2017/Analysis/Ranklist/jm112/'
dpath2017='F:/TREC2017/Analysis/Ranklist/diri/'
bpath2017='F:/TREC2017/Analysis/Ranklist/bm25/'
import os
import pandas as pd
#ip2017=['RTS47']

In [7]:
import numpy as np;
for i,p in enumerate(ip2017):
    
    qn=run_df[run_df['profile'] == p]
    #qn=qn[['profile','tweet_id','relevance']]
    qn.info()
    os.chdir(path2017)
    #print (p)
    os.chdir(jpath2017+p)
    jdf=pd.read_csv(p+'.txt',header=None,sep=',',encoding = "ISO-8859-1",names=['date', 'profile','q0','tweet_id','rank','score','text'])
    jdf=jdf.drop_duplicates(subset=['tweet_id','profile'])
    jdf=jdf[['profile','tweet_id','score']]
    #jdf.info()
    jdf.rename(columns={'score':'JM'}, inplace=True)
    os.chdir(dpath2017+p)
    ddf=pd.read_csv(p+'.txt',header=None,sep=',',encoding = "ISO-8859-1",names=['date', 'profile','q0','tweet_id','rank','score','text'])
    ddf=ddf.drop_duplicates(subset=['tweet_id','profile'])

    ddf=ddf[['profile','tweet_id','score']]
    #ddf.head()
    ddf.rename(columns={'score':'Diri'}, inplace=True)

    
    
    os.chdir(bpath2017+p)
    bdf=pd.read_csv(p+'.txt',header=None,sep=',',encoding = "ISO-8859-1",names=['date', 'profile','q0','tweet_id','rank','score','text'])
    bdf=bdf.drop_duplicates(subset=['tweet_id','profile'])

    bdf=bdf[['profile','tweet_id','score']]
    
    bdf.rename(columns={'score':'BM25'}, inplace=True)

    #n_df =  pd.DataFrame(list(set(ddf['tweet_id'].tolist()) & set(jdf['tweet_id'].tolist())))
    
    qj_df=pd.merge(qn,jdf,how='left',on=['tweet_id','profile'])
    #qj_df.info()
    jd_df=pd.merge(qj_df,ddf,how='left',on=['tweet_id','profile'])
    bdj_df=pd.merge(jd_df,bdf,how='left',on=['tweet_id','profile'])
    bdj_df = bdj_df.replace(np.nan, '', regex=True)
    bdj_df=np.round(bdj_df,2)
    #bdj_df.info()
    #bdj_df.columns=['profile','tweet_id','JM','Diri','BM25']
    #bdj_df['JM']=round(bdj_df['JM'],2)                
    #bdj_df['Diri']=round(bdj_df['Diri'],2)                
    #bdj_df['BM25']=round(bdj_df['BM25'],2)
    
    #qbdj_df=pd.merge(bdj_df,qn,how='inner',on=['tweet_id','profile'])
    #qbdj_df.columns=['profile','tweet_id','JM','Diri','BM25','Class']
    #qbdj_df['JM']=round(qbdj_df['JM'],2)                
    #qbdj_df['Diri']=round(qbdj_df['Diri'],2)                
    #qbdj_df['BM25']=round(qbdj_df['BM25'],2)
    
    #qbdj_df['Class'] = qbdj_df.Class.apply(lambda x: x if not pd.isnull(x) else 0)
    #qbdj_df['Class']=qbdj_df.Class.astype(int)
    #qbdj_df.info()
    
    #bdj_df.to_csv('C:/Users\lenovo\AnacondaProjects\learning-to-rank-master\experiments/runfile/2017runfile.txt',encoding='UTF-8',index=False,header=None,mode='a')
#    
   # bdj_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137 entries, 661 to 11987
Data columns (total 7 columns):
date        137 non-null int64
profile     137 non-null object
q0          137 non-null object
tweet_id    137 non-null int64
rank        137 non-null int64
score       137 non-null float64
tag         137 non-null object
dtypes: float64(1), int64(3), object(3)
memory usage: 8.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 197 entries, 1523 to 12999
Data columns (total 7 columns):
date        197 non-null int64
profile     197 non-null object
q0          197 non-null object
tweet_id    197 non-null int64
rank        197 non-null int64
score       197 non-null float64
tag         197 non-null object
dtypes: float64(1), int64(3), object(3)
memory usage: 12.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 102 entries, 403 to 11716
Data columns (total 7 columns):
date        102 non-null int64
profile     102 non-null object
q0          102 non-null object
tweet_id    102 non-null int64
rank        102 non-null int64
score       102 non-null float64
tag         102 non-null object
dtypes: float64(1), int64(3), object(3)
memory usage: 6.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 43 entries, 1137 to 12512
Data columns (total 7 columns):
date        43 non-null int64
profile     43 non-null object
q0          43 non-null object
tweet_id    43 non-null int64
rank        43 non-null int64
score       43 non-null float64
tag         43 non-null object
dtypes: float64(1), int64(3), object(3)
memory usage: 2.7+ KB

KeyboardInterrupt:

In [49]:
bdj_df1=pd.read_csv('C:/Users\lenovo\AnacondaProjects\learning-to-rank-master\experiments/runfile/2017runfile.txt',sep=',',
                    header=None,names=['date','profile','q0','tweet_id','rank','score','tag','JM','Diri','BM25'])

fout=open('C:/Users\lenovo\AnacondaProjects\learning-to-rank-master\experiments/runfile/Nalltest2.txt','w')
count=1
scaler = StandardScaler()
bdj_df1['JM'] = scaler.fit_transform(bdj_df1[['JM']])
bdj_df1['Diri'] = scaler.fit_transform(bdj_df1[['Diri']])
bdj_df1['BM25'] = scaler.fit_transform(bdj_df1[['BM25']])       
X_trainall.head()
for i,p in enumerate(ip2017):

    x=bdj_df1[bdj_df1['profile'] == p]
    x.info()
    #fout.write('# query '+p +'\n')
    for a,row in x.iterrows():
        #instr = str(row[4]) + ' ' + 'qid:'+str(count) + ' ' + '1:'+str(round(row[7],2))+' '+ '2:'+ str(round(row[8],2))+ ' ' +'3:'+str(round(row[9],2))+ ' \n'
        instr = str(1) + ' ' + 'qid:'+str(count) + ' ' + '1:'+str(round(row[7],2))+' '+ '2:'+ str(round(row[8],2))+ ' ' +'3:'+str(round(row[9],2))+ ' \n'

        fout.write(instr)
    count=count+1
fout.close()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137 entries, 0 to 136
Data columns (total 10 columns):
date        137 non-null int64
profile     137 non-null object
q0          137 non-null object
tweet_id    137 non-null int64
rank        137 non-null int64
score       137 non-null float64
tag         137 non-null object
JM          137 non-null float64
Diri        137 non-null float64
BM25        137 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 11.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 197 entries, 137 to 333
Data columns (total 10 columns):
date        197 non-null int64
profile     197 non-null object
q0          197 non-null object
tweet_id    197 non-null int64
rank        197 non-null int64
score       197 non-null float64
tag         197 non-null object
JM          197 non-null float64
Diri        197 non-null float64
BM25        197 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 16.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 102 entries, 334 to 435
Data columns (total 10 columns):
date        102 non-null int64
profile     102 non-null object
q0          102 non-null object
tweet_id    102 non-null int64
rank        102 non-null int64
score       102 non-null float64
tag         102 non-null object
JM          102 non-null float64
Diri        102 non-null float64
BM25        102 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 8.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 43 entries, 436 to 478
Data columns (total 10 columns):
date        43 non-null int64
profile     43 non-null object
q0          43 non-null object
tweet_id    43 non-null int64
rank        43 non-null int64
score       43 non-null float64
tag         43 non-null object
JM          43 non-null float64
Diri        43 non-null float64
BM25        43 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 3.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 529 entries, 479 to 1007
Data columns (total 10 columns):
date        529 non-null int64
profile     529 non-null object
q0          529 non-null object
tweet_id    529 non-null int64
rank        529 non-null int64
score       529 non-null float64
tag         529 non-null object
JM          529 non-null float64
Diri        529 non-null float64
BM25        529 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 45.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 235 entries, 1008 to 1242
Data columns (total 10 columns):
date        235 non-null int64
profile     235 non-null object
q0          235 non-null object
tweet_id    235 non-null int64
rank        235 non-null int64
score       235 non-null float64
tag         235 non-null object
JM          235 non-null float64
Diri        235 non-null float64
BM25        235 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 20.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 466 entries, 1243 to 1708
Data columns (total 10 columns):
date        466 non-null int64
profile     466 non-null object
q0          466 non-null object
tweet_id    466 non-null int64
rank        466 non-null int64
score       466 non-null float64
tag         466 non-null object
JM          466 non-null float64
Diri        466 non-null float64
BM25        466 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 40.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 245 entries, 1709 to 1953
Data columns (total 10 columns):
date        245 non-null int64
profile     245 non-null object
q0          245 non-null object
tweet_id    245 non-null int64
rank        245 non-null int64
score       245 non-null float64
tag         245 non-null object
JM          245 non-null float64
Diri        245 non-null float64
BM25        245 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 21.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 1954 to 2043
Data columns (total 10 columns):
date        90 non-null int64
profile     90 non-null object
q0          90 non-null object
tweet_id    90 non-null int64
rank        90 non-null int64
score       90 non-null float64
tag         90 non-null object
JM          90 non-null float64
Diri        90 non-null float64
BM25        90 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 7.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 193 entries, 2044 to 2236
Data columns (total 10 columns):
date        193 non-null int64
profile     193 non-null object
q0          193 non-null object
tweet_id    193 non-null int64
rank        193 non-null int64
score       193 non-null float64
tag         193 non-null object
JM          193 non-null float64
Diri        193 non-null float64
BM25        193 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 16.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 283 entries, 2237 to 2519
Data columns (total 10 columns):
date        283 non-null int64
profile     283 non-null object
q0          283 non-null object
tweet_id    283 non-null int64
rank        283 non-null int64
score       283 non-null float64
tag         283 non-null object
JM          283 non-null float64
Diri        283 non-null float64
BM25        283 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 24.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 133 entries, 2520 to 2652
Data columns (total 10 columns):
date        133 non-null int64
profile     133 non-null object
q0          133 non-null object
tweet_id    133 non-null int64
rank        133 non-null int64
score       133 non-null float64
tag         133 non-null object
JM          133 non-null float64
Diri        133 non-null float64
BM25        133 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 11.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 412 entries, 2653 to 3064
Data columns (total 10 columns):
date        412 non-null int64
profile     412 non-null object
q0          412 non-null object
tweet_id    412 non-null int64
rank        412 non-null int64
score       412 non-null float64
tag         412 non-null object
JM          412 non-null float64
Diri        412 non-null float64
BM25        412 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 35.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 348 entries, 3065 to 3412
Data columns (total 10 columns):
date        348 non-null int64
profile     348 non-null object
q0          348 non-null object
tweet_id    348 non-null int64
rank        348 non-null int64
score       348 non-null float64
tag         348 non-null object
JM          348 non-null float64
Diri        348 non-null float64
BM25        348 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 29.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 135 entries, 3413 to 3547
Data columns (total 10 columns):
date        135 non-null int64
profile     135 non-null object
q0          135 non-null object
tweet_id    135 non-null int64
rank        135 non-null int64
score       135 non-null float64
tag         135 non-null object
JM          135 non-null float64
Diri        135 non-null float64
BM25        135 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 11.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 121 entries, 3548 to 3668
Data columns (total 10 columns):
date        121 non-null int64
profile     121 non-null object
q0          121 non-null object
tweet_id    121 non-null int64
rank        121 non-null int64
score       121 non-null float64
tag         121 non-null object
JM          121 non-null float64
Diri        121 non-null float64
BM25        121 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 10.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 3669 to 3764
Data columns (total 10 columns):
date        96 non-null int64
profile     96 non-null object
q0          96 non-null object
tweet_id    96 non-null int64
rank        96 non-null int64
score       96 non-null float64
tag         96 non-null object
JM          96 non-null float64
Diri        96 non-null float64
BM25        96 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 8.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 265 entries, 3765 to 4029
Data columns (total 10 columns):
date        265 non-null int64
profile     265 non-null object
q0          265 non-null object
tweet_id    265 non-null int64
rank        265 non-null int64
score       265 non-null float64
tag         265 non-null object
JM          265 non-null float64
Diri        265 non-null float64
BM25        265 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 22.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
date        0 non-null int64
profile     0 non-null object
q0          0 non-null object
tweet_id    0 non-null int64
rank        0 non-null int64
score       0 non-null float64
tag         0 non-null object
JM          0 non-null float64
Diri        0 non-null float64
BM25        0 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 0.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 85 entries, 4030 to 4114
Data columns (total 10 columns):
date        85 non-null int64
profile     85 non-null object
q0          85 non-null object
tweet_id    85 non-null int64
rank        85 non-null int64
score       85 non-null float64
tag         85 non-null object
JM          85 non-null float64
Diri        85 non-null float64
BM25        85 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 7.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 45 entries, 4115 to 4159
Data columns (total 10 columns):
date        45 non-null int64
profile     45 non-null object
q0          45 non-null object
tweet_id    45 non-null int64
rank        45 non-null int64
score       45 non-null float64
tag         45 non-null object
JM          45 non-null float64
Diri        45 non-null float64
BM25        45 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 3.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 345 entries, 4160 to 4504
Data columns (total 10 columns):
date        345 non-null int64
profile     345 non-null object
q0          345 non-null object
tweet_id    345 non-null int64
rank        345 non-null int64
score       345 non-null float64
tag         345 non-null object
JM          345 non-null float64
Diri        345 non-null float64
BM25        345 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 29.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 4505 to 4704
Data columns (total 10 columns):
date        200 non-null int64
profile     200 non-null object
q0          200 non-null object
tweet_id    200 non-null int64
rank        200 non-null int64
score       200 non-null float64
tag         200 non-null object
JM          200 non-null float64
Diri        200 non-null float64
BM25        200 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 17.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 85 entries, 4705 to 4789
Data columns (total 10 columns):
date        85 non-null int64
profile     85 non-null object
q0          85 non-null object
tweet_id    85 non-null int64
rank        85 non-null int64
score       85 non-null float64
tag         85 non-null object
JM          85 non-null float64
Diri        85 non-null float64
BM25        85 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 7.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 62 entries, 4790 to 4851
Data columns (total 10 columns):
date        62 non-null int64
profile     62 non-null object
q0          62 non-null object
tweet_id    62 non-null int64
rank        62 non-null int64
score       62 non-null float64
tag         62 non-null object
JM          62 non-null float64
Diri        62 non-null float64
BM25        62 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 5.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 242 entries, 4852 to 5093
Data columns (total 10 columns):
date        242 non-null int64
profile     242 non-null object
q0          242 non-null object
tweet_id    242 non-null int64
rank        242 non-null int64
score       242 non-null float64
tag         242 non-null object
JM          242 non-null float64
Diri        242 non-null float64
BM25        242 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 20.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 95 entries, 5094 to 5188
Data columns (total 10 columns):
date        95 non-null int64
profile     95 non-null object
q0          95 non-null object
tweet_id    95 non-null int64
rank        95 non-null int64
score       95 non-null float64
tag         95 non-null object
JM          95 non-null float64
Diri        95 non-null float64
BM25        95 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 8.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 5189 to 5268
Data columns (total 10 columns):
date        80 non-null int64
profile     80 non-null object
q0          80 non-null object
tweet_id    80 non-null int64
rank        80 non-null int64
score       80 non-null float64
tag         80 non-null object
JM          80 non-null float64
Diri        80 non-null float64
BM25        80 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 6.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 5269 to 5275
Data columns (total 10 columns):
date        7 non-null int64
profile     7 non-null object
q0          7 non-null object
tweet_id    7 non-null int64
rank        7 non-null int64
score       7 non-null float64
tag         7 non-null object
JM          7 non-null float64
Diri        7 non-null float64
BM25        7 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 616.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 64 entries, 5276 to 5339
Data columns (total 10 columns):
date        64 non-null int64
profile     64 non-null object
q0          64 non-null object
tweet_id    64 non-null int64
rank        64 non-null int64
score       64 non-null float64
tag         64 non-null object
JM          64 non-null float64
Diri        64 non-null float64
BM25        64 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 5.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 133 entries, 5340 to 5472
Data columns (total 10 columns):
date        133 non-null int64
profile     133 non-null object
q0          133 non-null object
tweet_id    133 non-null int64
rank        133 non-null int64
score       133 non-null float64
tag         133 non-null object
JM          133 non-null float64
Diri        133 non-null float64
BM25        133 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 11.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 5473 to 5625
Data columns (total 10 columns):
date        153 non-null int64
profile     153 non-null object
q0          153 non-null object
tweet_id    153 non-null int64
rank        153 non-null int64
score       153 non-null float64
tag         153 non-null object
JM          153 non-null float64
Diri        153 non-null float64
BM25        153 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 13.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 164 entries, 5626 to 5789
Data columns (total 10 columns):
date        164 non-null int64
profile     164 non-null object
q0          164 non-null object
tweet_id    164 non-null int64
rank        164 non-null int64
score       164 non-null float64
tag         164 non-null object
JM          164 non-null float64
Diri        164 non-null float64
BM25        164 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 14.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 255 entries, 5790 to 6044
Data columns (total 10 columns):
date        255 non-null int64
profile     255 non-null object
q0          255 non-null object
tweet_id    255 non-null int64
rank        255 non-null int64
score       255 non-null float64
tag         255 non-null object
JM          255 non-null float64
Diri        255 non-null float64
BM25        255 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 21.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 148 entries, 6045 to 6192
Data columns (total 10 columns):
date        148 non-null int64
profile     148 non-null object
q0          148 non-null object
tweet_id    148 non-null int64
rank        148 non-null int64
score       148 non-null float64
tag         148 non-null object
JM          148 non-null float64
Diri        148 non-null float64
BM25        148 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 12.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 6193 to 6196
Data columns (total 10 columns):
date        4 non-null int64
profile     4 non-null object
q0          4 non-null object
tweet_id    4 non-null int64
rank        4 non-null int64
score       4 non-null float64
tag         4 non-null object
JM          4 non-null float64
Diri        4 non-null float64
BM25        4 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 352.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 123 entries, 6197 to 6319
Data columns (total 10 columns):
date        123 non-null int64
profile     123 non-null object
q0          123 non-null object
tweet_id    123 non-null int64
rank        123 non-null int64
score       123 non-null float64
tag         123 non-null object
JM          123 non-null float64
Diri        123 non-null float64
BM25        123 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 10.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 67 entries, 6320 to 6386
Data columns (total 10 columns):
date        67 non-null int64
profile     67 non-null object
q0          67 non-null object
tweet_id    67 non-null int64
rank        67 non-null int64
score       67 non-null float64
tag         67 non-null object
JM          67 non-null float64
Diri        67 non-null float64
BM25        67 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 5.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 65 entries, 6387 to 6451
Data columns (total 10 columns):
date        65 non-null int64
profile     65 non-null object
q0          65 non-null object
tweet_id    65 non-null int64
rank        65 non-null int64
score       65 non-null float64
tag         65 non-null object
JM          65 non-null float64
Diri        65 non-null float64
BM25        65 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 5.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 140 entries, 6452 to 6591
Data columns (total 10 columns):
date        140 non-null int64
profile     140 non-null object
q0          140 non-null object
tweet_id    140 non-null int64
rank        140 non-null int64
score       140 non-null float64
tag         140 non-null object
JM          140 non-null float64
Diri        140 non-null float64
BM25        140 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 12.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 130 entries, 6592 to 6721
Data columns (total 10 columns):
date        130 non-null int64
profile     130 non-null object
q0          130 non-null object
tweet_id    130 non-null int64
rank        130 non-null int64
score       130 non-null float64
tag         130 non-null object
JM          130 non-null float64
Diri        130 non-null float64
BM25        130 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 11.2+ KB

In [8]:
p_df= pd.read_csv('D:/LR/result/predictions_Nall2',header=None,sep=' ')
p_df.columns=['prediction']
#p_df.info()
#run_df.info()
bdj_df1=pd.read_csv('C:/Users\lenovo\AnacondaProjects\learning-to-rank-master\experiments/runfile/2017runfile.txt',sep=',',
                    header=None,names=['date','profile','q0','tweet_id','rank','score','tag','JM','Diri','BM25'])
bdj_df1.info()
res_df=pd.concat([bdj_df1.reset_index(drop=True), p_df], axis=1)

res_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13018 entries, 0 to 13017
Data columns (total 10 columns):
date        13018 non-null int64
profile     13018 non-null object
q0          13018 non-null object
tweet_id    13018 non-null int64
rank        13018 non-null int64
score       13018 non-null float64
tag         13018 non-null object
JM          13018 non-null float64
Diri        13018 non-null float64
BM25        13018 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 1017.1+ KB

,date,profile,q0,tweet_id,rank,score,tag,JM,Diri,BM25,prediction
0,20170804,RTS47,Q0,893532395030196224,1,1.00,IRLAB-LDRP,28.10,7.97,22.15,0.922446
1,20170804,RTS47,Q0,893319966132514816,2,1.00,IRLAB-LDRP,26.76,7.95,18.22,0.910258
2,20170804,RTS47,Q0,893268233578532864,3,0.80,IRLAB-LDRP,24.20,6.35,14.54,0.505252
3,20170804,RTS47,Q0,893573742487629824,4,0.75,IRLAB-LDRP,19.48,6.01,19.15,-0.017271
4,20170804,RTS47,Q0,893484068276506624,5,0.70,IRLAB-LDRP,18.14,5.58,12.40,-0.039718

In [9]:
check_df=pd.merge(res_df,X_test,how='left',on=['tweet_id','profile'])
#check_df.info()
check_df=check_df[['date','profile','tweet_id','rank','score','JM_x','Diri_x','BM25_x','prediction','Class']]
#check_df.head()
check_df=check_df.fillna(-1)
#check_df['Class'].value_counts()
check_df.Class=check_df.Class.astype(int)
check_df=np.round(check_df,3)

#check_df.to_csv('C:/Users\lenovo\AnacondaProjects\learning-to-rank-master\experiments/runfile/temp.txt',header=None,sep=',',index=False)
check_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13018 entries, 0 to 13017
Data columns (total 10 columns):
date          13018 non-null int64
profile       13018 non-null object
tweet_id      13018 non-null int64
rank          13018 non-null int64
score         13018 non-null float64
JM_x          13018 non-null float64
Diri_x        13018 non-null float64
BM25_x        13018 non-null float64
prediction    13018 non-null float64
Class         13018 non-null int32
dtypes: float64(5), int32(1), int64(3), object(1)
memory usage: 1.0+ MB

In [15]:
#ip2017=['RTS47','RTS48']
for i,p in enumerate(ip2017):
    
    qn=check_df[check_df['profile'] == p]
    qn = qn.sort_values(['date','prediction'],ascending=[True, False])
    qn['Q0']='Q0'
    qn['tag']='IRLAB-LDRP'
    qn=qn[['date','profile','Q0','tweet_id','rank','score','tag']]
    qn.to_csv('D:/datas/2017output/result/lr-res/samplelrres.txt',encoding='UTF-8',index=False,sep=' ',header=None,mode='a')

In [26]:
ipp=['RTS47']
#for i,p in enumerate(ipp):
 #   x=run_df[run_df['profile'] == p]
    #x.info()
    #x2=X_testr[X_testr['profile'] == p]
    #x2.info()
    #mx=pd.merge(x,x2,how='left',on=['tweet_id','profile'])
    #mx.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137 entries, 661 to 11987
Data columns (total 7 columns):
date        137 non-null int64
profile     137 non-null object
q0          137 non-null object
tweet_id    137 non-null int64
rank        137 non-null int64
score       137 non-null float64
tag         137 non-null object
dtypes: float64(1), int64(3), object(3)
memory usage: 8.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 589 entries, 0 to 588
Data columns (total 7 columns):
profile       589 non-null object
tweet_id      589 non-null int64
JM            589 non-null float64
Diri          589 non-null float64
BM25          589 non-null float64
Class         589 non-null int64
prediction    589 non-null float64
dtypes: float64(4), int64(2), object(1)
memory usage: 36.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 137 entries, 0 to 136
Data columns (total 12 columns):
date          137 non-null int64
profile       137 non-null object
q0            137 non-null object
tweet_id      137 non-null int64
rank          137 non-null int64
score         137 non-null float64
tag           137 non-null object
JM            74 non-null float64
Diri          74 non-null float64
BM25          74 non-null float64
Class         74 non-null float64
prediction    74 non-null float64
dtypes: float64(6), int64(3), object(3)
memory usage: 13.9+ KB

In [27]:
mx=mx[['date','profile','q0','tweet_id','rank','score','tag','prediction']]
mx.head()

,date,profile,q0,tweet_id,rank,score,tag,prediction
0,20170804,RTS47,Q0,893532395030196224,1,1.000000,IRLAB-LDRP,1.675437
1,20170804,RTS47,Q0,893319966132514816,2,0.997859,IRLAB-LDRP,1.663029
2,20170804,RTS47,Q0,893268233578532864,3,0.796444,IRLAB-LDRP,1.268933
3,20170804,RTS47,Q0,893573742487629824,4,0.753728,IRLAB-LDRP,0.721605
4,20170804,RTS47,Q0,893484068276506624,5,0.700210,IRLAB-LDRP,0.709445

In [28]:
mx.to_csv('D:/datas/2017output/result/lr-res/pairdirilr.txt',sep=' ',header=None,index=False)

In [31]:
len(ip2017)

95